/* Resetando as margens e padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
}

/* Cabeçalho combinado */
.header-container {
  background-color: #ff00c8; /* Fundo rosa */
  color: #ffffff; /* Texto branco */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header .logo img {
  max-width: 100%;
}

.header .search-bar input {
  width: 400px;
  padding: 8px;
  border-radius: 20px;
  border: none;
}

.header .search-bar button {
  padding: 8px 16px;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.header .cart button {
  padding: 8px 16px;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* Barra de navegação */
.nav {
  padding: 10px 20px;
  text-align: center;
}

.nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.nav ul li {
  margin: 0 15px;
}

.nav ul li a {
  text-decoration: none;
  color: #ffffff; /* Texto branco */
  font-weight: bold;
}

/* Produtos */
.products {
  padding: 20px;
}

.products h2 {
  text-align: center;
  margin-bottom: 20px;
}

.product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(3, 3, 3, 0.1);
  padding: 5px;
  width: 200px;
  text-align: center;
  margin-bottom: 30px;
}

.product-card img {
  max-width: 100%;
  border-radius: 8px;
}

.product-card h3 {
  margin: 10px 0;
}

.product-card p {
  color: #000000;
  font-size: 18px;
  margin: 5 px 0;
}

.product-card button {
  padding: 10px;
  background-color: #f75fb2;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #d6549b;
}

/* Rodapé */
.footer {
  background-color: #ff00c8;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
  